[class*="handle-"] {
	padding: 1px;
	display: inline-table;
	height: 1em;
	border-radius: 10%;
	overflow: hidden;
}

.header {
	border-bottom: 1px solid var(--surface-200);
	border-radius: 0px !important;
	width: 100%;
}
